.item h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color:#fff;
    margin: 0px;
}

.item {
    background: linear-gradient(115.2deg, #A7320E -15.7%, #ED6940 72.48%);
    border-radius: 10px 10px 0px 0px;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
}
.owl-carousel{
    margin-top: 23px;
}
.owl-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15%;
    padding: 0px 10px;
}
.owl-nav span{
    display: none;
}
.fa-caret-left, .fa-caret-right{
    width: 32px;
    height: 32px;
    background: white;
    outline: none;
    border: none;
    border-radius: 50%;
}
.left, .right{
    width: 119px;
    height: 102px;
    background: linear-gradient(90deg, #F5F5F5 -4.17%, rgba(245, 245, 245, 0.731061) 21.58%, rgba(245, 245, 245, 0) 76.04%);
}
.owl-stage-outer:before{
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 119px;
    background: linear-gradient(90deg, #F5F5F5 -4.17%, rgba(245, 245, 245, 0.731061) 21.58%, rgba(245, 245, 245, 0) 76.04%);
}
.owl-stage-outer:after{
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    width: 119px;
    background: linear-gradient(90deg, #F5F5F5 -4.17%, rgba(245, 245, 245, 0.731061) 21.58%, rgba(245, 245, 245, 0) 76.04%);
transform: matrix(-1, 0, 0, 1, 0, 0)
}
.owl-dots{
    display: none;
}